/* BrandCard.css */

/* .brand-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  text-align: center;
}

.brandlogo {
  max-width: 100%;
  height: auto;
}

.brandtitle {
  margin-top: 8px;
  font-size: 1.2rem;
}

.brandinfo {
  margin-top: 8px;
  color: #666;
} */
